{
  "swagger": "2.0",
  "info": {
    "title": "Restcountries",
    "description": "API for restcountries.eu",
    "version": "1.0.0"
  },
  "host": "restcountries.eu",
  "schemes": [
    "https"
  ],
  "paths": {
    "/rest/v2/name/{name}": {
      "get": {
        "tags": [
          "Rest"
        ],
        "description": "Get By Country Name",
        "operationId": "GetByCountryName",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "CountryName",
            "required": true,
            "type": "string",
            "x-example": "South Africa"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GetAll"
              }
            }
          }
        },
        "security": []
      }
    },
    "/rest/v2/region/{region}": {
      "get": {
        "tags": [
          "Rest"
        ],
        "description": "Get By Region",
        "operationId": "GetByRegion",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "region",
            "in": "path",
            "description": "Region",
            "required": true,
            "type": "string",
            "x-example": "Europe"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GetAll"
              }
            }
          }
        },
        "security": []
      }
    },
    "/rest/v2/capital/{capital}": {
      "get": {
        "tags": [
          "Rest"
        ],
        "description": "Get By Capital",
        "operationId": "GetByCapital",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "capital",
            "in": "path",
            "description": "capital",
            "required": true,
            "type": "string",
            "x-example": "Pretoria"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GetAll"
              }
            }
          }
        },
        "security": []
      }
    },
    "/rest/v2/lang/{lang}": {
      "get": {
        "tags": [
          "Rest"
        ],
        "description": "Get By Language",
        "operationId": "GetByLang",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "lang",
            "in": "path",
            "description": "lang",
            "required": true,
            "type": "string",
            "x-example": "en"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GetAll"
              }
            }
          }
        },
        "security": []
      }
    },
    "/rest/v2/currency/{currency}": {
      "get": {
        "tags": [
          "Rest"
        ],
        "description": "Get By Currency",
        "operationId": "GetByCurrency",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "currency",
            "in": "path",
            "description": "currency",
            "required": true,
            "type": "string",
            "x-example": "en"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GetAll"
              }
            }
          }
        },
        "security": []
      }
    },
    "/rest/v2/alpha/{alphacode}": {
      "get": {
        "tags": [
          "Rest"
        ],
        "description": "Get By Alphacode",
        "operationId": "GetByAlphacode",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "alphacode",
            "in": "path",
            "description": "alphacode",
            "required": true,
            "type": "string",
            "x-example": "ZA"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GetAll"
              }
            }
          }
        },
        "security": []
      }
    },
    "/rest/v2/all": {
      "get": {
        "tags": [
          "Rest"
        ],
        "description": "Get All",
        "operationId": "GetAll",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GetAll"
              }
            }
          }
        },
        "security": []
      }
    }
  },
  "definitions": {
    "GetAll": {
      "description": "Model for GetAll",
      "required": [
        "alpha2Code"
      ],
      "properties": {
        "postalCode": {
            "$ref": "#/definitions/PostalCode"
        },
        "name": {
          "$ref": "#/definitions/Name"
        }
      }
    },
    "RegionalBlocs": {
      "description": "Model for RegionalBlocs",
      "required": [
        "acronym"
      ],
      "properties": {
        "acronym": {
          "type": "string",
          "x-example": "SAARC"
        },
        "name": {
          "type": "string",
          "x-example": "South Asian Association for Regional Cooperation"
        },
        "otherAcronyms": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-example": "[]"
        },
        "otherNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-example": "[]"
        }
      }
    },
    "Translations": {
      "description": "Model for Translations",
      "required": [
        "br"
      ],
      "properties": {
        "br": {
          "type": "string",
          "x-example": "Afeganistão"
        },
        "de": {
          "type": "string",
          "x-example": "Afghanistan"
        },
        "es": {
          "type": "string",
          "x-example": "Afganistán"
        },
        "fa": {
          "type": "string",
          "x-example": "افغانستان"
        },
        "fr": {
          "type": "string",
          "x-example": "Afghanistan"
        },
        "hr": {
          "type": "string",
          "x-example": "Afganistan"
        },
        "it": {
          "type": "string",
          "x-example": "Afghanistan"
        },
        "ja": {
          "type": "string"
        },
        "nl": {
          "type": "string",
          "x-example": "Afghanistan"
        },
        "pt": {
          "type": "string",
          "x-example": "Afeganistão"
        }
      }
    },
    "Name": {
      "description": "Model for Name",
      "properties": {
        "common": {
          "type": "string"
        }
      }
    },
    "PostalCode": {
      "description": "Model for PostalCode",
      "properties": {
        "format": {
          "type": "string"
        },
        "regex": {
          "type": "string"
        }
      }
    }
  },
  "securityDefinitions": {},
  "security": [],
  "tags": [
    {
      "name": "Rest",
      "description": "Operations about Rest"
    }
  ]
}